</div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div>
				<p class="text-muted text-right">The ArduSub Companion Computer WebUI is a project of Blue Robotics. <br />For more information, please visit <a href="http://www.bluerobotics.com">www.bluerobotics.com</a>.</p>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
