sudo -H -u pi screen -dm -S mavproxy /home/pi/companion/RPI2/Raspbian/start_mavproxy_telem_splitter.sh
sudo -H -u pi /home/pi/companion/RPI2/Raspbian/start_video.sh
sudo -H -u pi screen -dm -S webui /home/pi/companion/RPI2/Raspbian/start_webui.sh
sudo -H -u pi screen -dm -S webterminal /home/pi/companion/RPI2/Raspbian/start_webterminal.sh
sudo -H -u pi screen -dm -S commrouter /home/pi/companion/RPI2/Raspbian/comm_router.py
sudo -H -u pi screen -dm -S audio /home/pi/companion/RPI2/Raspbian/start_audio.sh
