html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 100px;
}

.navbar-fixed-top .navbar-nav {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

.navbar-brand {
		padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: #555 solid 2px;
  padding: 10px;
}

.slider {
  width: 100% !important;
}
