{% include ../_includes/header.liquid %}

<script src="socket.io-file-client.js"></script> 
<script>
var socket = io();
socket.on('terminal output', function(data) {
	var currentHTML = document.getElementById("terminal-output").innerHTML;
	document.getElementById("terminal-output").innerHTML = currentHTML + data;
	document.getElementById("terminal-output").scrollTop = document.getElementById("terminal-output").scrollHeight
});

socket.on('companion version', function(data) {
	document.getElementById('companion version').innerHTML = data;
});

socket.on('companion latest', function(data) {
	console.log('got companion latest');
	document.getElementById('companion-update').style.display = 'inline';
});

function updateCompanion() {
	socket.emit('update companion');
}

function updatePixhawkDev() {
	updatePixhawk('dev');
}

function updatePixhawkBeta() {
	updatePixhawk('beta');
}

function updatePixhawkStable() {
	updatePixhawk('stable');
}

function updatePixhawkFile(file) {
	socket.emit('update pixhawk', {
		'option': 'file',
		'file': file
	});
}

function updatePixhawk(option) {
	socket.emit('update pixhawk', {
		'option' : option
	});
}

socket.emit('get companion version');
socket.emit('get companion latest');

var uploader = new SocketIOFileClient(socket);
 
uploader.on('start', function(fileInfo) {
    console.log('Start uploading', fileInfo);
});
uploader.on('stream', function(fileInfo) {
    console.log('Streaming... sent ' + fileInfo.sent + ' bytes.');
});
uploader.on('complete', function(fileInfo) {
    console.log('Upload Complete', fileInfo);
    updatePixhawkFile(fileInfo.name);
});
uploader.on('error', function(err) {
    console.log('Error!', err);
});
uploader.on('abort', function(fileInfo) {
    console.log('Aborted: ', fileInfo);
});

var form = document.getElementById('form');

function submit(ev) {
	var fileEl = document.getElementById('file');
	var uploadIds = uploader.upload(fileEl);
	

	// setTimeout(function() { 
		// uploader.abort(uploadIds[0]); 
		// console.log(uploader.getUploadInfo()); 
	// }, 1000); 
};
</script>

<h1>Software Status and Update</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">ArduSub Companion Status</h3>
			</div>
			<div class="panel-body">
				<h3>Version</h3>
				<span id="companion version">Companion Version</span>
				<div id="companion-update" style="display:none">
					<h3>An Update is Available:</h3>
					<button type="button" class="btn btn-primary" onclick="updateCompanion()">Update Companion</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Pixhawk Firmware Update</h3>
			</div>
			<div class="panel-body">
				<div>
					<strong>Download and Update (Requires Internet Connection):</strong>
					<button type="button" class="btn btn-primary" onclick="updatePixhawkDev()">Development</button>
					<button type="button" class="btn btn-primary" onclick="updatePixhawkBeta()">Beta</button>
					<button type="button" class="btn btn-primary" onclick="updatePixhawkStable()">Stable</button>
				</div>
				<div>
					<strong>From File:</strong>
					<input type="submit" class="btn btn-primary" value="Upload" onClick="submit()" style="display:table-cell"/>
					<input type="file" id="file" style="display:table-cell" enabled/>
				</div>
				<br />
				<textarea rows="20" cols="120" id="terminal-output" style="font-family:monospace"></textarea>
			</div>
		</div>
	</div>
</div>

{% include ../_includes/footer.liquid %}
