{% include ../_includes/header.liquid %}

<script src="socket.io-file-client.js"></script> 
<script>
var socket = io();
socket.on('terminal output', function(data) {
	var currentHTML = document.getElementById("terminal-output").innerHTML;
	document.getElementById("terminal-output").innerHTML = currentHTML + data;
	document.getElementById("terminal-output").scrollTop = document.getElementById("terminal-output").scrollHeight
});

socket.on('companion version', function(data) {
	document.getElementById('companion version').innerHTML = data;
});

socket.on('companion latest', function(data) {
	console.log('got companion latest');
	document.getElementById('companionButton').style.display = "inline";
	document.getElementById('companionAvailable').innerHTML = "Download Update: An Update is Available!";
});

function updateCompanion(fileInfo) {
	if (fileInfo) {
		socket.emit('update companion', fileInfo.name);
	} else {
		disableUpdates(true);
		showCompanionSpinner(true);
		socket.emit('update companion');
	}
}

function updatePixhawkDev() {
	updatePixhawk('dev');
}

function updatePixhawkBeta() {
	updatePixhawk('beta');
}

function updatePixhawkStable() {
	updatePixhawk('stable');
}

function updatePixhawkFile(fileInfo) {
	socket.emit('update pixhawk', {
		'option': 'file',
		'file': fileInfo.name
	});
}

function updatePixhawk(option) {
	disableUpdates(true);
	showPixhawkSpinner(true);
	socket.emit('update pixhawk', {
		'option' : option
	});
}

socket.on('pixhawk update complete', function(data) {
	disableUpdates(false);
	showPixhawkSpinner(false);
});

socket.on('companion update complete', function(data) {
	showCompanionSpinner(false);
	setInterval(location.reload(true), 1500);
});

function disableUpdates(disabled) {
	document.getElementById('companionButton').disabled = disabled;
	document.getElementById('devButton').disabled = disabled;
	document.getElementById('betaButton').disabled = disabled;
	document.getElementById('stableButton').disabled = disabled;
	document.getElementById('pixhawkFileButton').disabled = disabled;
	document.getElementById('companionFileButton').disabled = disabled;
}

function showCompanionSpinner(show) {
	document.getElementById('companionSpinner').style.visibility = show ? "visible" : "hidden";
}

function showPixhawkSpinner(show) {
	document.getElementById('pixhawkSpinner').style.visibility = show ? "visible" : "hidden";
}

socket.emit('get companion version');
socket.emit('get companion latest');

var uploader = new SocketIOFileClient(socket);

uploader.on('start', function(fileInfo) {
	console.log('Start uploading', fileInfo);
});
uploader.on('stream', function(fileInfo) {
	console.log('Streaming... sent ' + fileInfo.sent + ' bytes.');
});
uploader.on('complete', function(fileInfo) {
	console.log('Upload Complete', fileInfo);
});
uploader.on('error', function(err) {
	console.log('Error!', err);
	disableUpdates(false);
	showPixhawkSpinner(false);
	showCompanionSpinner(false);
});
uploader.on('abort', function(fileInfo) {
	console.log('Aborted: ', fileInfo);
});

var form = document.getElementById('form');

function submit(callback, fileElement) {
	disableUpdates(true);
	if (fileElement == 'pixhawkFile') {
		showPixhawkSpinner(true);
	} else {
		showCompanionSpinner(true);
	}
	
	uploader.on('complete', callback);
	var fileEl = document.getElementById(fileElement);
	var uploadIds = uploader.upload(fileEl);
	
	// setTimeout(function() { 
		// uploader.abort(uploadIds[0]); 
		// console.log(uploader.getUploadInfo()); 
	// }, 1000); 
};
</script>

<h1>Software Status and Update</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					ArduSub Companion Status
					<i id="companionSpinner" class="fa fa-refresh fa-spin fa-2x fa-fw" style="visibility:hidden;"></i>
				</h3>
			</div>
			<div class="panel-body">
				<h4>Version: </h4>
				<span id="companion version">Companion Version</span>
				<div>
					<h4 id="companionAvailable">Download Update: No Updates Available</h4>
					<button id="companionButton" type="button" class="btn btn-primary" onclick="updateCompanion()" style="display:none">Update</button>
				</div>
				<div>
					<h4>Upload Zipped Update:</h4>
					<input id="companionFileButton" type="submit" class="btn btn-primary" value="Upload" onClick="submit(updateCompanion, 'companionFile')" style="display:table-cell"/>
					<input type="file" id="companionFile" style="display:table-cell;" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Pixhawk Firmware Update
					<i id="pixhawkSpinner" class="fa fa-refresh fa-spin fa-2x fa-fw" style="visibility:hidden;"></i>
				</h3>
			</div>
			<div class="panel-body">
				<div>
					<h4>Download and Update (Requires Internet Connection):</h4>
					<button id="devButton" type="button" class="btn btn-primary" onclick="updatePixhawkDev()">Development</button>
					<button id="betaButton" type="button" class="btn btn-primary" onclick="updatePixhawkBeta()">Beta</button>
					<button id="stableButton" type="button" class="btn btn-primary" onclick="updatePixhawkStable()">Stable</button>
				</div>
				<div>
					<h4>Upload Firmware File:</h4>
					<input id="pixhawkFileButton" type="submit" class="btn btn-primary" value="Upload" onClick="submit(updatePixhawkFile, 'pixhawkFile')" style="display:table-cell"/>
					<input type="file" id="pixhawkFile" style="display:table-cell" enabled/>
				</div>
				<br />
				<div>
				<textarea rows="20" cols="120" id="terminal-output" style="font-family:monospace"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>

{% include ../_includes/footer.liquid %}
