{% include ../_includes/header.liquid %}

<script src="socket.io-file-client.js"></script> 
<script>
var socket = io();

function restartWLDriver() {
	var ip = document.getElementById('wlIP').value;
	var port = document.getElementById('wlPort').value;
	var args = {}
	if (ip.length) {
		args.ip = ip;
	}
	if (port.length) {
		args.port = port;
	}
	socket.emit('restart WL driver', args);
}

</script>

<h1>Waterlinked Driver Setup</h1>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					Water Linked Underwater GPS Driver
				</h3>
			</div>
			<div class="panel-body">
				<div id="udpConfig">
					<div class="form-group">
						<label>Water Linked IP Address:</label>
						<input type="text" class="form-control" id="wlIP" value="192.168.2.94"></input>
					</div>
					<div class="form-group">
						<label>Water Linked Port:</label>
						<input type="text" class="form-control" id="wlPort" value="80"></input>
					</div>
					<button type="button" class="btn btn-primary" onclick="restartWLDriver()">Restart Water Linked Driver</button>
				</div>
			</div>
		</div>
	</div>
</div>

{% include ../_includes/footer.liquid %}
